# Ignore dataset files
datasets/
data/
labels/
*.rar
*.zip
*.7z
*.tar

# Ignore training outputs
runs/
logs/
outputs/

# Ignore temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore large model checkpoints except final ones
models/*
*.h5
*.ckpt
*.pth
*.pt
*.keras
*.pkl

!models/.gitkeep

# Ignore environment files
.env
.env.*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
env/

# Ignore Spark temp
spark-*

# Training artifacts
train_batch*.jpg
val_*.jpg
!train_batch0.jpg
!val_batch0_pred.jpg
!val_batch0_labels.jpg

# CSV logs
*.csv

args.yaml